body{

    background-color: black;
    overflow-x: hidden;
    margin-bottom: 100px;
}

::-webkit-scrollbar{

    width: 15px;
    
    
    
}

::-webkit-scrollbar-track{

    background:black;
}

::-webkit-scrollbar-thumb{

    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
 

    
  
}

::-webkit-scrollbar-thumb:hover{
    
    border-color: #637425;
    border-style: solid;
    border-width: 2px;
}


.cv-container{

    margin-right: 55px;
}
